.button {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	min-width: rem-calc(40);
	height: rem-calc(40);
	border: 0;
	border-radius: rem-calc(100);
	color: $white;
	cursor: pointer;
	background-color: $purple;
	@include transition;

	&:hover,
	&:focus {
		background-color: $purple2;
	}

	&--is-secondary {
		color: $black;
		background: $yellow;
		&:hover,
		&:focus {
			background-color: darken($yellow, 4);
		}
	}

	&--is-disabled {
	}
	&--has-icon {
	}
	&--has-text {
		column-gap: rem-calc(20);
	}
}
